
<div class="bootstrap-wrapper">
    <div class="container">
        <div class="row">

            <div class="col-md-6 offset-md-3">

                <div class="container text-center">
                    <img class="logo" src="../../../assets/loginLogo.png" alt="">
                </div>
                <h1 class="text-center">Login here</h1>

                <form>
                    <!-- Username field -->
                    <mat-form-field class="full-width" appearance="fill">
                        <mat-label>Username</mat-label>
                        <input required name="username" matInput placeholder="Enter here">
                    </mat-form-field>

                    <!-- Password field -->
                    <mat-form-field class="full-width" appearance="fill">
                        <mat-label>Password</mat-label>
                        <input required name="password" type="password" matInput placeholder="Enter here">
                    </mat-form-field>

                    <div class="container text-center">
                        <button type="submit" mat-raised-button color="accent">Login</button>
                        <button style="margin-left: 20px;" mat-raised-button>Reset</button>
                    </div>

                </form>

            </div>
        </div>
    </div>
</div>